<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%=I18n.t(:members, scope: :generic)%></h1>
  </div>
</div>
<%= link_to I18n.t(:create_member, scope: :members), new_member_path, class: "btn btn-outline btn-primary btn-lg" %>

<%= link_to I18n.t(:import_members, scope: :members), import_members_path, class: "btn btn-outline btn-primary btn-lg" %>
